* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #99cc00;
}

#container {
    background-color: #99cc00;
}

a {
    text-decoration: none;
}

.b {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    background-color: #ccff33;
}

.d {
    margin: 10px;
    background-color: #996600;
    padding: 10px;
    color: white;
}

.d:hover {
    color: black;
    background-color: #ffc34d;
}

.d2 {
    border: 1px solid black;
}

.e {
    margin: 10px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.intro  img {
    margin-left: 50px;
}

.intro2 {
    border: 1px solid black;
    background-color: yellow;
}

.intro2 td {
    padding: 10px;
}

.intro3 {
    text-align: right;
}

.intro4 {
    text-align: center;
}