* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #99cc00;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.con {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px;
    row-gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.col {
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    background-color: #ffff00;
}

.col:hover {
    background-color: #ffff99;
}

.link {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 50px;
}

.page {
    border: 2px solid black;
    padding: 20px 50px;
    background-color: #996600;
    text-align: center;
    color: white;
}

.page:hover {
    background-color: #e69900;
    color: black;
}

a {
    text-decoration: none;
}

.b {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    background-color: #ccff33;
}

.d {
    margin: 10px;
    background-color: #996600;
    padding: 10px;
    color: white;
}

.e {
    margin: 10px;
}

.d:hover {
    background-color: #e69900;
}

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

span {
    border: 3px solid black;
    border-radius: 10px;
    background-color: yellow;
    padding: 10px;
    font-size: 20px;
    margin-left: 30px;
}