#calendar {
    max-width: 600px;
    margin: auto;
    background-color: white;
}

table, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #99cc00;
}

a {
    text-decoration: none;
}

.b {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    background-color: #ccff33;
}

.d {
    margin: 10px;
    background-color: #996600;
    padding: 10px;
    color: white;
}

.e {
    margin: 10px;
}

.d:hover {
    color: black;
    background-color: #ffc34d;
}

.list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.list th {
    padding: 10px;
    background-color: #cccccc;
}

.list td {
    padding: 5px;
    background-color: white;
}

.link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 50px;
}

.page, input {
    border: 2px solid black;
    padding: 20px 50px;
    background-color: #996600;
    text-align: center;
    color: white;
    font-weight: bold
}

.page:hover, input:hover {
    background-color: #ffc34d;
    color: black;
}

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}