<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Strojevi za rad</title>
        <link rel="stylesheet" href="/style/machinesForJob.css">
    </head>
    
    <body>
        <div class="c">
            <div class="b">
                <img src="/images/slika7.png" height="40px" alt="user">
                <div class="e">
                    <b th:text="${user.Username}"></b>
                </div>
            </div>

            <div class="b">
                <a href="/korisnik/profil">
                    <div class="d">
                        <b>Početna</b>
                    </div>
                </a>

                <a th:href="'/korisnik/posao' + ${posao.ID}">
                    <div class="d">
                        <b>Natrag</b>
                    </div>
                </a>

                <a href="/logout">
                    <div class="d">
                        <b>Odjava</b>
                    </div>
                </a>
            </div>
        </div>

        <div class="link">
            <div th:if="${#lists.isEmpty(machinesReady) == false}">
                <div class="form">
                    <h3>Popis strojeva</h3>
                    <form th:action="@{'/korisnik/dodajStroj' + ${posao.ID}}" th:object="${checkForm}" method="POST">
                        <div class="l" th:each="mac: ${machinesReady}">
                            <input type="checkbox" th:field="*{checkedItems}" th:value="${mac.ID}" />
                            <label th:text="${mac.naziv}"></label>
                        </div>

                        <div class="l2">
                            <input type="submit" name="submit" value="Dodaj">
                        </div>
                    </form>
                </div>
            </div>

            <div th:if="${#lists.isEmpty(machinesReady) == true}">
                <div class="form">
                    <p>Nemate strojeve na raspolaganju</p>
                </div>
            </div>

            <img src="/images/slika11.jpg" height="400px" alt="user">
        </div>
    </body>
</html>